<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

	<servlet>
		<servlet-name>schedule</servlet-name>
		<servlet-class>service.ScheduleService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sch_detail</servlet-name>
		<servlet-class>service.ScheduleDetailService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>schedule</servlet-name>
		<url-pattern>/schedule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sch_detail</servlet-name>
		<url-pattern>/sch_detail</url-pattern>
	</servlet-mapping>

</web-app>